/*MAIN CSS
-index.html
-about.html
-contact.html
-store.html
-thankYou.html
*/


/*globa*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    min-height: 100%;
}

/*Header*/
h1 {
    font-size: 60px;
    transition-duration: 300ms;
    width: fit-content;
    position: fixed;
    animation: header-load 1500ms;
}

@keyframes header-load {
    0%   {transform: translateY(-200%);}
    100% {transform: translateY(0);}
}

/*Div and header placement corrections*/
div nav, h1 {
    margin-left: 30px;
    margin-right: 170px;
    margin-top: 10px;
}

nav {
    width: 150px;
    top: 100px;
}

.main-container {
    height: 84%;
    width: 100%;
    display: flex;
}

/*Display photo*/
img {
    margin-top: 20px;
    width: 1000px;
    height: auto;
    transition-duration: 1s;
    padding-left: -100px;
}

/*Navigation items*/
nav {
    height: 220px;
    animation: nav-load 2500ms;
    animation-timing-function: ease-in-out;
    position: fixed;
}

@keyframes nav-load {
    0%   {transform: translateX(-100%);opacity: -100;}
    50%  {transform: translateX(35px); opacity: 1;}
    100% {transform: translateX(0);}
}

nav ul {
    position: fixed;
}

nav ul li {
    margin-bottom: 8px;
    display: block;
    transition-duration: 700ms;
}

/*navigation email, hover to copy*/
.email-info {
    margin-top: 300px;
    position: fixed;
    animation: email-load 5000ms;
}

@keyframes email-load {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}


.email .dropdown{
    display: none;
    top: -20px;
    left: -72px;
    padding: 0px;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    background-color: black;
    color: #fff;
}

.email:hover .dropdown {
    display: block;
    opacity: 1;
    cursor: default;
}

.email .dropdown li:hover {
    transform: translateX(0px);
    cursor: default;
}

/*display subnavigation on hover*/
.projects {
    transition-duration: 500ms;
}

.projects:hover {
    transform: translate(10px);
}

nav ul .projects:hover .dropdown {
    visibility: visible;
    opacity: 1;
}

.dropdown {
    display: none;
    opacity: 0;
    transition: visibility 1s, opacity 700ms linear;
    margin-left: 90px;
    width: 160px;
    margin-top: -20px;
    background-color: rgb(228, 228, 208);
    padding: 5px;
    border-radius: 6px;
    box-shadow: 5px 5px 5px grey;
}

nav ul li:hover .dropdown {
    display: block;
}

/*Link changes*/
a {
    text-decoration: none;
    color: black;
}

nav ul li:hover {
    cursor: pointer;
    opacity: .6;
    border-radius: 8px;
    transform: translateX(10px);
}

a:visited {
    text-decoration: none;
}

.insta_icon {
    position: relative;
    width: 30px;
    height: auto;
    top: 12.5rem;
    cursor: pointer;
}

/*About section*/
.aboutHeader {
    font-size: 50px;
    margin-bottom: 10px;
}

.aboutContainer {
    padding: 20px;
    height: fit-content;
    background-color: #fff;
    position: absolute;
    left: 910px;
    top: 110px;
    right: 100px;
    border-radius: 6px;
    animation: fadein 4000ms;
}

.borderControl {
    height: 400px;
    width: 600px;
    left: 320px;
    top: 100px;
    position: relative;
    animation: fadein 4000ms;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*Form Submission*/
.formContainer {
    height: fit-content;
    width: fit-content;
    margin-left: 500px;
    margin-top: 120px;
    box-shadow: 5px 5px 5px grey;}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(228, 228, 208);
    border-radius: 6px;
}

h3 {
    font-size: 50px;
    margin-bottom: 20px;
}

div form input {
    margin-bottom: 20px;
    height: 25px;
    width: 300px;
    border-radius: 4px;
    padding: 5px;
}

textarea {
    border-radius: 4px;
    width: 400px;
    padding: 5px;
}

#formButton {
    justify-self: auto;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    background-color: grey;
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}

/*footer*/
footer {
    position: fixed;
    top: 800px;
    left: 5px;
    font-size: small;
}



