/*MAIN CSS
-index.html
-about.html
-contact.html
-store.html
-thankYou.html
*/


/*globa*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    position: fixed;
    border: solid blue;
}

/*Header*/
h1 {
    font-size: 60px;
    transition-duration: 300ms;
    width: fit-content;
}

h1:hover {
    transform: translateY(-15px);
}

/*Div and header placement corrections*/
div nav, h1 {
    margin-left: 30px;
    margin-right: 170px;
    margin-top: 30px;
}

nav {
    width: 150px;
}

.main-container {
    height: 84%;
    display: flex;
    border: solid black;
    column-gap: 0px;
}

/*Display photo*/
img {
    margin-top: 20px;
    width: 600px;
    height: auto;
    transition-duration: 1s;
    padding-left: -100px;
}

/*Navigation items*/
nav {
    height: 220px;
    width: 100px;
}
nav ul {
    position: fixed;
}

.email-info {
    margin-top: 250px;
    border: 0;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
}

nav ul li {
    margin-bottom: 8px;
    display: block;
    transition-duration: 700ms;
}

/*display subnavigation on hover*/
.projects {
    transition-duration: 500ms;
}

.projects:hover {
    transform: translate(10px);
}

nav ul .projects:hover .dropdown {
    visibility: visible;
    opacity: 1;
}

.dropdown {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 700ms linear;
    margin-left: 90px;
    width: 200px;
    margin-top: -20px;
    background-color: rgb(228, 228, 208);
    padding: 5px;
    border-radius: 6px;
    box-shadow: 5px 5px 5px grey;
}

nav ul li:hover .dropdown {
    display: block;
}

/*Link changes*/
a {
    text-decoration: none;
    color: black;
}

nav ul li:hover {
    cursor: pointer;
    opacity: .6;
    border-radius: 8px;
    transform: translateX(10px);
}

a:visited {
    text-decoration: none;
}

/*About section*/
.aboutHeader {
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: -50px;
}

.aboutContainer {
    padding: 40px;
    margin: 20px;
    height: fit-content;
}

.borderControl {
    height: 400px;
    width: 600px;
    margin-left: 100px;
}

/*Quote*/
blockquote {
    margin-left: 17%;
    margin-top: 50px;
    font-size: 2rem;
    font-weight: bolder;
    font-style: italic;
    width: 70%;
    text-align: center;
}

/*Form Submission*/
.formContainer {
    height: fit-content;
    width: fit-content;
    margin-left: 150px;
    margin-top: 80px;
    box-shadow: 5px 5px 5px grey;}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(228, 228, 208);
    border-radius: 6px;
}

h3 {
    font-size: 50px;
    margin-bottom: 20px;
}

div form input {
    margin-bottom: 20px;
    height: 25px;
    width: 300px;
    border-radius: 4px;
    padding: 5px;
}

textarea {
    border-radius: 4px;
    width: 400px;
    padding: 5px;
}

#formButton {
    justify-self: auto;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    background-color: grey;
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}

/*footer*/
footer {
    position: relative;
    margin-left: 10px;
    margin-top: 8px;
    font-size: x-small;
}



