/*Grid carousel*/
.grid-container{
    display: grid;
    margin-left: 15em;
    margin-top: 5rem;
    padding: 5px;

    grid-template-columns: repeat(4, 1fr);
}

.grid-span-2 {
    grid-column: span 2;
}

.grid-item {
    text-align: center;
}

.grid-item5 img,
.grid-item6 img {
    width: 209px;
    height: auto;
    margin-left: 2.5rem;
}