/*Project Pages CSS*/

/*global*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    overflow: auto;
}

/*Header*/
h1 {
    font-size: 60px;
    transition-duration: 300ms;
    width: fit-content;
    position: fixed;
    animation: header-load 1500ms;
}

@keyframes header-load {
    0%   {transform: translateY(-200%);}
    100% {transform: translateY(0);}
}

/*Div and header placement corrections*/
div nav, h1 {
    margin-left: 30px;
    margin-top: 1rem;
    margin-top: 10px;
}

nav {
    width: 150px;
}

.main-container {
    height: 84%;
    width: 100%;
    display: flex;
}

/*Display photo*/
img {
    margin-top: 20px;
    width: 70%;
    height: auto;
    transition-duration: 1s;
}

/*Navigation items*/
nav {
    height: 220px;
    animation: nav-load 2500ms;
    animation-timing-function: ease-in-out;
    position: fixed;
}

@keyframes nav-load {
    0%   {transform: translateX(-100%);opacity: -100;}
    50%  {transform: translateX(35px); opacity: 1;}
    100% {transform: translateX(0);}
}

nav ul {
    position: fixed;
    margin-top: 100px;
}

nav ul li {
    margin-bottom: 8px;
    display: block;
    transition-duration: 700ms;
}

/*navigation email, hover to copy*/
.email-info {
    margin-top: 400px;
    position: fixed;
    animation: email-load 5000ms;
}

@keyframes email-load {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.email .dropdown{
    display: none;
    top: -20px;
    left: -72px;
    padding: 0px;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    background-color: black;
    color: #fff;
}

.email:hover .dropdown {
    display: block;
    opacity: 1;
    cursor: default;
}

.email .dropdown li:hover {
    transform: translateX(0px);
    cursor: default;
}

nav ul li {
    margin-bottom: 8px;
    display: block;
    transition-duration: 700ms;
}

/*display subnavigation on hover*/
.projects {
    transition-duration: 500ms;
}

.projects:hover {
    transform: translate(10px);
}

nav ul .projects:hover .dropdown {
    visibility: visible;
    opacity: 1;
}

.dropdown {
    display: none;
    opacity: 0;
    transition: visibility 1s, opacity 700ms linear;
    margin-left: 90px;
    width: 160px;
    margin-top: -20px;
    background-color: rgb(228, 228, 208);
    padding: 5px;
    border-radius: 6px;
    box-shadow: 5px 5px 5px grey;
}

nav ul li:hover .dropdown {
    display: block;
}

/*Link changes*/
a {
    text-decoration: none;
    color: black;
}

nav ul li:hover {
    cursor: pointer;
    opacity: .6;
    border-radius: 8px;
    transform: translateX(10px);
}

a:visited {
    text-decoration: none;
}

.insta_icon {
    position: relative;
    width: 30px;
    height: auto;
    top: 19rem;
    cursor: pointer;
}


/*Image carousel*/
.carousel {
    overflow: hidden;
    max-width: 600px;
    position: relative;
    height: 720px;
  }

  .slide__info {
    position: relative;
    font-weight: 900;
    visibility: hidden;
    margin-top: -280px;
    width: 90%;
    background: rgba(0%, 0%, 0%, .3);
    left: 1rem;
    padding: 10px;
    color: #fff;
  }
  
  .carousel__item:hover .slide__info {
    visibility: visible;
  }

  .carousel .carousel__item,
  .carousel .carousel__item--hidden {
    display: none;
  }
  
  .carousel .carousel__item img {
    width: 100%;
    max-width: 600px;
    height: 100%;
  }
  
  .carousel .carousel__item--visible {
    display: block;
    animation: fadeVisibility 0.5s;
  }
  
  .carousel .carousel__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel .carousel__actions button {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  
  .carousel .carousel__actions button#carousel__button--prev {
    margin-left: 20px;
    transition-duration: 1000ms;
    opacity: .7;
  }

  .carousel .carousel__actions button#carousel__button--prev:hover {
    opacity: 1;
  }

  .carousel .carousel__actions button#carousel__button--next {
    margin-right: 20px;
    transition-duration: 1000ms;
    opacity: .7;
  }

  .carousel .carousel__actions button#carousel__button--next:hover {
    opacity: 1;
  }
  
  @keyframes fadeVisibility {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: opacity linear;
    }
  }


/*Grid*/
section {
    height: fit-content;
    width: 80%;
    text-align: left;
    margin-bottom: 3rem;
}

#landscapes {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100%;
    width: fit-content;
    left: 20rem;
    top: 5rem;
    /* border: solid red; */
}

@media all and (max-width: 420px) {
    #landscapes {
        position: relative;
        display: block;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 100%;
        width: fit-content;
        left: 20rem;
        top: 5rem;
    }
}

.grid-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    width: 73%;
    left: 18rem;
    margin-top: 80px;
    justify-content: space-evenly;
    padding: 10px;
}

#landscapes img {
    height: 400px;
    width: auto;
}

.grid-container img {
    height: auto;
    width: 400px;
    border-radius: 5px;
    animation: fadein 2000ms;
}

#assala-flex img:hover {
    transform: scale(1.6);
}

#assala-flex img {
    height: 200px;
    width: auto;
    border-radius: 5px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* Slideshow container (on the road) */
.slideshow-container {
    max-width: fit-content;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: block;
    position: absolute;
    right: 18rem;
    top: 5rem;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/*footer*/
footer {
    position: fixed;
    top: 97.7%;
    left: 5px;
    font-size: small;
}



